[role='status'] {
  margin-block: 0.5rem;
}

dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.25rem var(--space);
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
  overflow-wrap: anywhere;
}
