<search>
  <form [formRoot]="searchForm" autocomplete="off">
    <label for="query">Adres</label>
    <input type="text" id="query" [formField]="searchForm.query" data-1p-ignore />
  </form>
  @if (suggestions.error()) {
    <p>{{ searchError }}</p>
  } @else {
    <ul>
      @for (suggestion of suggestions.value(); track suggestion.id) {
        <li>
          <button type="button" (click)="selected.emit(suggestion.id)">
            {{ suggestion.weergavenaam }}
          </button>
        </li>
      }
    </ul>
  }
</search>
