<search>
  <form [formRoot]="searchForm" autocomplete="off">
    <label for="query">Adres</label>
    <input
      type="text"
      id="query"
      [formField]="searchForm.query"
      role="combobox"
      aria-autocomplete="list"
      aria-controls="address-suggestions"
      [attr.aria-expanded]="expanded()"
      [attr.aria-activedescendant]="activeDescendant()"
      (keydown)="onKeydown($event)"
      data-1p-ignore
    />
  </form>
  <ul id="address-suggestions" role="listbox">
    @for (suggestion of options(); track suggestion.id) {
      <!-- Keyboard goes through the combobox (aria-activedescendant), so options aren't focusable (APG). -->
      <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
      <li
        [id]="'address-option-' + $index"
        role="option"
        [attr.aria-selected]="$index === activeIndex()"
        (click)="selected.emit(suggestion.id)"
      >
        {{ suggestion.weergavenaam }}
      </li>
    }
  </ul>
  @if (suggestions.error()) {
    <p>{{ searchError }}</p>
  }
</search>
